[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 600 600 300 300
datapath = database/DAVIS/JPEGImages/Full-Resolution/iiwa000/
rtk_path = raw/iiwa/rtk/Q1-fixed/cam

[data_1]
ks = 600 600 300 300
datapath = database/DAVIS/JPEGImages/Full-Resolution/iiwa001/
rtk_path = raw/iiwa/rtk/Q2-fixed/cam

[data_2]
ks = 600 600 300 300
datapath = database/DAVIS/JPEGImages/Full-Resolution/iiwa002/
rtk_path = raw/iiwa/rtk/Q3-fixed/cam

[data_3]
ks = 600 600 300 300
datapath = database/DAVIS/JPEGImages/Full-Resolution/iiwa003/
rtk_path = raw/iiwa/rtk/Q4-fixed/cam